ion-content{
    --background: #DD8A12;
    width: 100%;
    height: 100%;
}
form {
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px;
}

ion-toolbar{
    --background: transparent;
}
a {
    color: black;
}
ion-item{
    --background: transparent;
}
ion-input {
    border-color: white;
    border: 5px 5px;
}