<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="login ">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <ion-item>
        <ion-input label="Email" label-placement="floating" fill="outline" placeholder="Enter email"
          formControlName="email"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.email">
          <div *ngIf="
            (loginForm.get('email')?.hasError(validation.type) &&
            loginForm.get('email')?.dirty)
            ">{{validation.message}}</div>
        </ng-container>
      </div>
      <br>
      <ion-item>
        <ion-input label="password" label-placement="floating" fill="outline" placeholder="Enter text" type="password"
          formControlName="password"></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of validation_messages.password">
          <div *ngIf="
            (loginForm.get('password')?.hasError(validation.type) &&
            loginForm.get('password')?.dirty)
            ">{{validation.message}}</div>
        </ng-container>
      </div>
      <ion-button type="Submit" [disabled]="!loginForm.valid">Login</ion-button>
      <p>Si aun no se encuentra resgistrado registrese en el siguiente link</p>
      <a href="/register">Registrate</a>
    </form>
   
    <div class="validation_messages">
      {{loginMessage}}
    </div>
  </div>
</ion-content>