ion-fab-button {
  --background: transparent;
  --background-activated: #F9F7F7;
}

.content {
  --background: url('../../assets/images/fondo.jpeg') center center / 100% 100% no-repeat;
}


  
 
  swiper-slide {
    display: block;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-top: 51% ;
  }

 

 



 
  .red-title {
    color: rgb(227, 221, 220);
    margin: 20px;
    padding-top: 35px;
    text-align: center;
  }
  p {
    color: rgb(227, 221, 220);
    text-align: center;
    justify-content: end;
    font-size: 17px;
    margin: 0px;
  }

  .text {
    color: rgb(227, 221, 220);
    padding-top: -15px;
    font-size: 18px;;
  }
  .text1 {
   
    align-items: end;
    justify-content: center;
    font-size: 18px;
  }

  .item{
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .bottom {
    width: 100%;
  
  }
  
 