ion-fab-button {
  --background: transparent;
  --background-activated: #F9F7F7;
}

.content {
  --background: url('../../assets/images/fondo.jpeg') center center / 100% 100% no-repeat;
}


  
 
  swiper-slide {
    display: flex;
    flex-direction: column;
  }
  .foot-text {
    align-self: flex-end;
  }

 



 
  .red-title {
    color: rgb(227, 221, 220);
    margin: 20px;
    padding-top: 35px;
    text-align: center;
  }
  p {
    color: rgb(227, 221, 220);
    text-align: start;
    justify-content: center;
    font-size: 18px;
  }

  .text {
    color: rgb(227, 221, 220);
    text-align: center;
    justify-content: end;
    font-size: 18px;
    padding: 5px 10px 30px 5px;
  }
  .text1 {
   
    align-items: end;
    justify-content: center;
    font-size: 18px;
  }

  .item{
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .bottom {
    width: 100%;
  
  }
  
 