<ion-content class="content" [fullscreen]="true">
  <ion-fab slot="fixed" horizontal="end" [edge]="true">
    <ion-fab-button (click)="goToHome()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <swiper-container [loop]="true">
    <swiper-slide *ngFor="let slide of slides; let i = index">
      <div *ngIf="i ==0" >
        <ion-grid>
          <ion-row class="ion-align-items-center" >
            <ion-col>
              <h1 class="red-title" [innerHTML]="slide.title"></h1>
              <div class="item"><img class="head" src={{slide.head}} /></div>
            </ion-col>
          </ion-row>
          <ion-row  >
            <ion-col>
              <p class={{slide.class}} [innerHTML]="slide.description"></p>
              <p class="text" [innerHTML]="slide.help_text"> </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf=" i == 1">
        
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1 class="red-title" >{{slide.title}}</h1>
               <div class="item"><img src={{slide.head}} /></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class={{slide.class}} [innerHTML]="slide.description"></p>
            </ion-col>
          </ion-row>
        </ion-grid>
              
      </div>
      <div *ngIf="i == 2">
        <h1 class="red-title">{{slide.title}}</h1>
        <div class="item"><img class="head" src={{slide.head}} /></div>
        <p class="text">{{slide.help_text}}</p>
        <p class="text" [innerHTML]="slide.description"></p>
        <br>
          <ion-button size="large" color="light" class="bottom" fill="outline" (click)="goToLogin()" >Registrese</ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>