<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <ion-list>
            <ion-item>
              <ion-select
                interface="popover"
                toggleIcon="add"
                expandedIcon="remove"
                aria-label="fruit"
                placeholder="Select fruit"
              >
                <ion-select-option value="apples">Deportes</ion-select-option>
                <ion-select-option value="oranges">Cinema</ion-select-option>
                <ion-select-option value="bananas"></ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        <swiper-container
        [pagination]="true"
        
        >
            <swiper-slide *ngFor="let slide of event_list">
                <img src="{{slide.image}}">
            </swiper-slide>
        </swiper-container>
    
    </ion-content>

</ion-content>
